<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Free URL Shortener
    </title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <style>
        body {
            padding-top:50px;
        }
        button {
            margin-top: 20px !important;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <div class="container">
            <h1 class="header">
                Free URL Shortener
            </h1>
            <blockquote>
                Built with NodeJS and Mongo DB
            </blockquote>
            <div class="form-group">
                <label for="urlInput">Enter URL to be shortened</label>
                <input type="email" class="form-control" id="urlInput" placeholder="http://something.com">
                <button type="submit" class="btn btn-light">Shorten</button>
            </div>
            </div>
        </div>
        <h5> Created by <a href='https://cyborkonline.github.io'> David Morais </a></h5>
    </div>
</body>
<script type="text/javascript">
  document.querySelector('.btn').addEventListener('click',() => {
      const value = document.querySelector('.form-control').value;
      window.open(`/new/${value}`,"_self")
  });
  </script>
</html>