<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API TimeStamp Microservice</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <style>
        body { padding-top:50px; }
    </style>
</head>
<body>

    <div class="container">
        <div class="jumbotron">
            <div class="container">
            <h1 class="header">
                NEW
                Short code generated {{{shortCode}}}
            </h1>
            <blockquote class="shortcode">
                Minimal boilerplate for Node JS projects with ES6
            </blockquote>
            <h3>Usage</h3>
            <h5> Build App </h5>
        </div>
        </div>
        <h5> Created by <a href='https://cyborkonline.github.io'> David Morais </a></h5>
    </div>

</body>
<script>
    var code = window.shortCode;
    document.querySelector('.shortcode').innerHTML=code;
</script>
</html>